@model LoginViewModel

@{
    ViewData["Title"] = "Log In";
    Layout = null;
}

<link href="~/css/loginregister.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="loginCard">
    <div class="loginBody">
        <div class="loginImage">
            <img src="./Images/Login.png" alt="Login Icon" width="200" height="200" />
        </div>
        <div class="loginForm">
            <div class="row">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                    }                  
                    <div class="form-group mb-5">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control inputBox", placeholder = "Enter Email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control inputBox", placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-5">
                        @Html.LabelFor(model => model.RememberMe)
                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "checkbox inputBox" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success btn-lg offset-3" /> |
                        @Html.ActionLink("Register", "Registration", "Account", "", new { @class= "btn btn-warning btn-lg" })                      
                    </div>
                }
            </div>
        </div>
    </div>    
</div>
