@model IEnumerable<Employee>

@{
    ViewData["Title"] = "All Employees";
}

<div class="mainWrapper">
    <div>
        <div class="header">
            <h1>Employees</h1>
        </div>
    </div>
    <table class="table table-bordered tables">
        <tr class="thead-dark">
            <th style="width: 30%;">Name</th>
            <th style="width: 30%;">User</th>
            <th style="width: 20%;">Status</th>
            <th style="width: 20%; text-align: center;">
                @Html.ActionLink("Add New Employee", "CreateEmployee", "Employee", "", new { @class = "btn btn-success" })
            </th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName + @employee.LastName</td>
                <td>@employee.User.UserName</td>
                @if(employee.IsActive == true)
                {
                    <td>Active</td>
                }
                else
                {
                    <td>Inactive</td>
                }
                <td style="text-align: center;">
                    @Html.ActionLink("Details", "EmployeeeDetails", "Employee", new { id = employee.EmployeeID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "DeleteEmployee", "Employee", new { id = employee.EmployeeID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>
