@model IEnumerable<Employee>

@{
    ViewData["Title"] = "All Employees";
}

<div class="mainWrapper">
    <div>
        <div class="header">
            <h1>Employees</h1>
        </div>
    </div>
    <table class="table table-bordered tables">
        <tr class="thead-dark">
            <th style="width: 30%;">Name</th>
            <th style="width: 30%;">User</th>
            <th style="width: 20%;">Status</th>
            <th style="width: 20%; text-align: center;">
                @Html.ActionLink("Add New Employee", "CreateEmployee", "Employee", "", new { @class = "btn btn-success" })
            </th>
        </tr>
        @*@foreach (var employee in Model)
        {
            <tr>
                <td>@employee.</td>
                <td>@image.Album.Name</td>
                <td style="text-align: center;"><img src="@image.ImageUrl" alt="@image.ShortDescription" width="50" height="50" /></td>
                <td style="text-align: center;">
                    @Html.ActionLink("Details", "ImageDetails", "Image", new { id = image.ImageId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "DeleteImage", "Image", new { id = image.ImageId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }*@
    </table>
</div>
