@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "AllOrders";
}


<div class="mainWrapper">
    <div class="tableList">
        <div class="header mb-5">
            <h1>All Orders</h1>
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderProducts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderTotal)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productDescriptions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTotal)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right; font-weight: bold;">Grand Total:</td>
                <td style="font-weight: bold;">@ViewBag.GrandTotal</td>
            </tr>
        </table>
    </div>
</div>

