@model IEnumerable<CapstoneGroupProject.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "ListProducts";
}

<div class="mainWrapper">
    <div class="tableList">
        <div class="header">
            <h1>List Products</h1>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th style="text-align: center;">
                    <a asp-action="CreateProduct" class="btn btn-success">Create New</a>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryID)
                    </td>
                    <td style="text-align: center;">
                        <a asp-action="EditProduct" asp-route-id="@item.ProductID" class="btn btn-primary">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
