@model ProductListViewModel

@{
    ViewData["Title"] = "Sales Page";
}

<div class="salesScreen">
    <div class="products">
        <div class="row g-0">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="card" style="width: 19rem;">
                        @*<img src="@("~/Images/" + item.ImageUpload)" asp-append-version="true" class="card-img-top" alt=@item.Title width="200" height="350">*@
                        <div class="card-body" style="text-align: center">
                            <h5 class="card-title">@product.ProductName</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Price: </b>@product.UnitPrice.ToString("c2")</li>
                        </ul>
                        <div class="card-body" style="text-align: right">
                            @Html.ActionLink("Add to List", "AddToList", "Order", new { id = @product.ProductID}, new { @class= "btn btn-success" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="listOfProducts">      
        <div class="tableList">
            <div class="header">
                <h1>Products Selected</h1>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        Produc Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total
                    </th> 
                    <th>
                        Actions
                    </th>
                </tr>
                @foreach (var item in Model.OrderLists)
                {
                    <tr>
                        <td>
                            @item.ProductName
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Total
                        </td> 
                        <td>
                            @Html.ActionLink("Delete Item", "DeleteProduct", "Order", new { id=item.ID }, new{ @class="btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
            <div class="grandTotalBox">
                <dl class="row">
                    <dt class="col-sm-8">
                        Subtotal:
                    </dt>
                    <dd class="col-sm-4">
                        @ViewBag.Subtotal
                    </dd>
                    <dt class="col-sm-8">
                        Tax:
                    </dt>
                    <dd class="col-sm-4">
                        @ViewBag.Tax
                    </dd>
                    <dt class="col-sm-8">
                        Tax Amount:
                    </dt>
                    <dd class="col-sm-4">
                        @ViewBag.TaxAmount
                    </dd>
                    <dt class="col-sm-8">
                        Total:
                    </dt>
                    <dd class="col-sm-4">
                        @Model.GrandTotal.ToString("c")
                    </dd>
                </dl>
                @Html.ActionLink("CheckOut", "CheckOut", "Order", new { total = Model.GrandTotal}, new { @class="btn btn-success"})
            </div>
        </div>
    </div>
</div>
